# Ambientes virtuais e Conda
.conda/
env/
venv/
ENV/

# Caches de ferramentas e do Python
.ruff_cache/
__pycache__/
*.pyc

# IDEs e editores
.vscode/

# Configurações com chaves de API / Tokens locais
.env

# Modelos pesados baixados localmente (GGUF)
modelo/*